<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Drivago</title>
    <link rel="stylesheet" href="./fonts/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <link class="refresh" rel="stylesheet" href="./style.css">
    <link rel="manifest" href="./manifest.json" />
    <link rel="apple-touch-icon" href="app.png">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="yes" name="apple-mobile-web-app-capable" />
</head>

<body>
    <div id="app" v-if="loaded">
        <header class="grid center">
            <nav>
                <strong>Drivago</strong>
            </nav>
        </header>
        <div class="page questions" :class="{ hide: page !== 0}">
            <div class="progress">
                <progress :value="progress" max="1"></progress>
                <span class="progress-value">{{ progress | percentage }}</span>
            </div>

            <div class="content">
                <div>
                    <vs-card type="2">
                        <img v-if="question.image" :src="question.image">
                        <video controls v-if="question.video" :src="question.video"></video>
                    </vs-card>
                </div>
                <div class="question">
                    <h3>
                        <span class="question-number">{{questionNumber}}. </span> <span
                            class="selectable">{{question.q}}</span>
                    </h3>
                    <vs-avatar @click="hintDialog=true" class="points" size="25"
                        circle>{{question.meta_data.p}}</vs-avatar>
                    <span class="points selectable"></span>
                    <vs-dialog width="550px" not-center v-model="hintDialog">
                        <template #header>
                            <h4 class="not-margin">
                                Hint
                            </h4>
                        </template>

                        <div class="con-content">
                            <p>
                                {{question.meta_data.a}}
                            </p>
                            <p>
                                {{question.c}}
                            </p>
                        </div>

                    </vs-dialog>
                </div>
                <button class="button" v-if="question.c">Help</button>
                <div class="answers">
                    <div v-if="question.pr" class="pre-question">
                        <span>{{question.pr}}:</span>
                    </div>
                    <div class="grid selectable" :class="{ hide: validateValue}">
                        <div class="answer" v-if="question.a1">
                            <label class="grid">
                                <vs-row>
                                    <vs-col vs-justify="center" vs-align="right" w="2">
                                        <vs-checkbox class="test" v-model="values.a1"></vs-checkbox>
                                    </vs-col>
                                    <vs-col w="10">
                                        {{question.a1}}
                                    </vs-col>
                                </vs-row>
                            </label>
                        </div>
                        <div class="answer" v-if="question.a2">
                            <label class="grid">
                                <vs-row>
                                    <vs-col w="2">
                                        <vs-checkbox class="test" v-model="values.a2"></vs-checkbox>
                                    </vs-col>
                                    <vs-col w="10">
                                        {{question.a2}}
                                    </vs-col>
                                </vs-row>
                            </label>
                        </div>
                        <div class="answer" v-if="question.a3">
                            <label class="grid">
                                <vs-row>
                                    <vs-col w="2">
                                        <vs-checkbox class="test" v-model="values.a3"></vs-checkbox>
                                    </vs-col>
                                    <vs-col w="10">
                                        {{question.a3}}
                                    </vs-col>
                                </vs-row>
                            </label>
                        </div>
                    </div>

                    <div class="grid selectable" :class="{ hide: !validateValue}">
                        <div class="answer" v-if="question.a1">
                            <label class="grid"
                                :class="{'green': question.v1 == 'x', 'red': !question.v1 && values.a1}">
                                <vs-row>
                                    <vs-col vs-justify="center" vs-align="right" w="2">
                                        <vs-checkbox :success="answer.a1" :danger="!answer.a1" v-model="values.a1"
                                            disabled></vs-checkbox>
                                    </vs-col>
                                    <vs-col w="10">
                                        {{ question.v1 == undefined || question.v1 == 'x' || question.v1 == '' ?
                                        question.a1 : question.v1}}
                                    </vs-col>
                                </vs-row>
                            </label>
                        </div>
                        <div class="answer" v-if="question.a2">
                            <label class="grid"
                                :class="{'green': question.v2 == 'x', 'red': !question.v2 && values.a2}">
                                <vs-row>
                                    <vs-col w="2">
                                        <vs-checkbox :success="answer.a2" :danger="!answer.a2" v-model="values.a2"
                                            disabled></vs-checkbox>
                                    </vs-col>
                                    <vs-col w="10">
                                        {{ question.v2 == undefined || question.v2 == 'x' || question.v2 == '' ?
                                        question.a2 : question.v2}}
                                    </vs-col>
                                </vs-row>
                            </label>
                        </div>
                        <div class="answer" v-if="question.a3">
                            <label class="grid"
                                :class="{'green': question.v3 == 'x', 'red': !question.v3 && values.a3}">
                                <vs-row>
                                    <vs-col w="2">
                                        <vs-checkbox :success="answer.a3" :danger="!answer.a3" v-model="values.a3"
                                            disabled></vs-checkbox>
                                    </vs-col>
                                    <vs-col w="10">
                                        {{ question.v3 == undefined || question.v3 == 'x' || question.v3 == '' ?
                                        question.a3 : question.v3}}
                                    </vs-col>
                                </vs-row>
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="page" :class="{ hide: page !== 1}"></div>
        <div class="page selectable list" :class="{ hide: page !== 2}">
            
                <div class="q grid" v-for="(q, i) in data.questions" :key="i">
                    <vs-row align="center" justify="center">
                        <vs-col w="1">
                            <vs-button icon transparent danger size="xxl" @click="toggleBookmark(q.id)">
                                <i color="danger" class='bx bx-heart' v-if="!isQuestionBookmarked(q.id)"></i>
                                <i color="danger" class='bx bxs-heart' v-if="isQuestionBookmarked(q.id)"></i>
                            </vs-button>
                        </vs-col>
                        <vs-col w="11">
                            <vs-button icon flat transparent @click="jumpToQuestion(i)" :danger="isWrongAnswer(q.id)"
                                :success="isCorrectAnswer(q.id)">
                                {{i + 1}}. {{q.q | chooseOne}}
                            </vs-button>
                        </vs-col>
                    </vs-row>
                </div>
            
        </div>
        <div class="page" :class="{ hide: page !== 3}">
            <div class="content">
                <br>
                <vs-row justify="center">
                    <vs-col w="10">
                        <p>
                            Auto move to next question
                        </p>

                    </vs-col>
                    <vs-col w="2">
                        <vs-switch success v-model="autoNextQuestion">
                            <template #off>
                                <i class='bx bx-x'></i>
                            </template>
                            <template #on>
                                <i class='bx bx-check'></i>
                            </template>
                        </vs-switch>
                    </vs-col>
                </vs-row>
                <br>
                <vs-row justify="center">
                    <vs-col w="12">

                        <vs-button block @click="location.reload()">
                            <i class="bx bx-refresh"></i> Reload
                        </vs-button>

                        <vs-button block @click="resetUserData()">
                            <i class="bx bxs-user-x"></i> Reset User Data
                        </vs-button>

                    </vs-col>
                </vs-row>
            </div>
        </div>
        <footer>
            <div v-if="page == 0" class="grid controls">
                <vs-row justify="center">
                    <vs-col w="12">
                        <div class="progress">
                            <input type="range" min="0" :max="data.questions.length - 1" v-model="index">
                        </div>
                    </vs-col>
                </vs-row>
                <vs-row justify="center">
                    <vs-button-group>
                        <vs-button block icon relief size="xl" @click="prevQuestion">
                            <i class='bx bx-chevron-left'></i>
                        </vs-button>

                        <vs-button block icon relief danger size="xl" @click="toggleBookmark(question.id)">
                            <i class='bx bx-heart' v-if="!isQuestionBookmarked(question.id)"></i>
                            <i class='bx bxs-heart' v-if="isQuestionBookmarked(question.id)"></i>
                        </vs-button>

                        <vs-button class="validate" block icon relief success size="xl" @click="validate">
                            <i class='bx bx-check'></i>
                        </vs-button>


                        <vs-button :loading="loadingAutoNextQuestion" block icon relief size="xl" @click="nextQuestion">
                            <i class='bx bx-chevron-right'></i>
                        </vs-button>
                    </vs-button-group>
                </vs-row>
            </div>
            <nav class="center grid">
                <vs-row>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" w="4">
                        <vs-button :active="page == 0" flat icon block size="xl" @click="page = 0">
                            <i class="bx bx-detail"></i>
                        </vs-button>
                    </vs-col>

                    <!-- <vs-col vs-type="flex" vs-justify="center" vs-align="center" w="3">
                        <vs-button :active="page == 1" flat icon block size="xl" @click="page = 1">
                            <i class="bx bxs-heart"></i>
                        </vs-button>
                    </vs-col> -->

                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" w="4">
                        <vs-button :active="page == 2" flat icon block size="xl" @click="page = 2">
                            <i class="bx bx-list-ul"></i>
                        </vs-button>
                    </vs-col>

                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" w="4">
                        <vs-button :active="page == 3" flat icon block size="xl" @click="page = 3">
                            <i class="bx bxs-cog"></i>
                        </vs-button>
                    </vs-col>
                </vs-row>
            </nav>
        </footer>
    </div>

    <div class="hide">
        <pre>{{originalQuestion | json}}</pre>
        <pre>{{question | json}}</pre>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
    <script class="refresh" src="./script.js"></script>
    <script>
        (function () {
            var h, a, f;
            a = document.getElementsByClassName("refresh")
            for (h = 0; h < a.length; h++) {
                f = a[h];

                if (f.href || f.src) {
                    var g = f.href || f.src;
                    g = g.replace(/(&|\?)rnd=\d+/, '');
                    g = g + (g.match(/\?/) ? '&' : '?');
                    g += 'rnd=' + (new Date().valueOf());

                    if (f.href) {
                        f.href = g;
                    } else if (f.src) {
                        f.src = g;
                    }
                }
            }
        })()
    </script>
</body>

</html>