.hide {
    display: none;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    min-height: calc(100% + env(safe-area-inset-top));
    font-family: 'Airbnb Cereal App';
    touch-action: none;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    max-width: 100%;
    background-color: #fff;
    font-size: 1.1rem;
}

header {
    /* position: fixed;
    top: 0;
    left: 0; */
    background-color: #3A6CED;
    /* z-index: 999; */
    width: 100%;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

header nav {
    padding: 10px;
    text-align: center;
    color: white;
}

h3,
h4 {
    display: inline;
    font-weight: 500;
}

.points {
    display: inline-block;
    font-weight: normal;
}

.selectable {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

.controls {
    width: 100%;
    padding: 1rem;
}

.vs-button-group {
    width: 100%;
}

.page {
    overflow-y: scroll;
    /* margin-top: calc(60px + env(safe-area-inset-top)); */
    margin-bottom: 60px;
    position: relative;
    min-height: 83vh;
    box-sizing: content-box;
}

.content {
    padding: 10px 20px;
    position: relative;
}

.answers {
    margin-top: 20px;
}

.answer {
    margin-bottom: 20px;
}

.vs-checkbox-content {
    float: right;
}

img,
video {
    max-width: 100%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.question {
    position: relative;
    margin: 20px 0 10px 0;
}

.question .question-number {
    opacity: 0.3;
}

.pre-question {
    margin-bottom: 20px;
}

.progress input {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99999;
    background: #fff;
}

footer nav {
    border-top: 1px solid #eee;
    width: 100%;
    min-height: 10vh;
}

footer nav .vs-button--icon i {
    font-size: 1.5rem !important;
}


/* body {
    min-height: calc(100% + env(safe-area-inset-top));
    font-family: 'Airbnb Cereal App';
    touch-action: none;
    overflow: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.header {
    margin: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
    background-color: darkcyan;
}

nav {
    margin: 0;
    padding: 0 15px 5px;
    user-select: none;
}

nav * {
    color: white !important;
}

.selectable {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

#app {
    margin: 10px;
}

h4 {
    margin: 0;
    padding: 0;
}


.validate {
    background-color: green;
}



.green {
    color: green;
}

.red {
    color: red;
}

input[disabled] {
    background-color: gray;
} */